wp/*
!wp/wp-content/

wp/wp-content/*
!wp/wp-content/themes
!wp/wp-content/plugins/

wp/wp-content/themes/*

wp/wp-content/plugins/index.php

db_data/

.*
~*

node_modules/

!.gitignore
!docker-compose.yml
!gulpfile.js
!package.json
!yarn.lock


!wp/wp-content/themes/blankslate
!wp/wp-content/themes/blankslate-child