html,
body {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 4.6rem;
}

.wrapper {
  padding: 0 $spacing-x3;

  @media ($tablet) {
    @include wrapper-tablet;
  }

  @media ($desktop-lg) {
    @include wrapper-lg;
    padding: 0;
  }
}

#main {
  display: grid;
  grid-template-rows: auto 1fr;
}