.btn {
  background-color: $yellow;
  border: none;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  padding: $spacing;
  text-transform: uppercase;
  transition: background-color 0.25s ease-in-out;
  
  &:hover {
    background-color: $black;
    color: $yellow;
    text-decoration: none;
  }
}

.mobile-menu {
  line-height: 0;
  position: absolute;
  right: $spacing-x2;
  width: 25px;

  @media ($tablet) {
    display: none;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 0.5;
    padding: 0;
    width: 100%;
  
    div {
      background-color: $yellow;
      display: inline-block;
      height: 3px;
      margin: 2px 0;
      width: 100%;
    }
  }
}