.contact-form-wrapper {
  display: flex;
  justify-content: center;

  .contact-form-inner {
    box-shadow: $box-shadow-2;
    border-bottom: 10px solid $yellow;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-x3;
  
    @media ($tablet) {
      flex-basis: 75%;
    }

    @media ($desktop-md) {
      flex-basis: 768px;
    }

    .contact-form {
      flex-basis: 100%;

      label {
        font-weight: 400;
      }
    
      input[type='text'],
      input[type='email'],
      select,
      textarea {
        background-color: $grey100;
        font-family: $font-family;
        border: 1px solid $grey200;
      }
    }
  }
}


.wpforms-confirmation-container-full {
  background-color: $white;
  border: none;
  border-top: 1px solid $grey100;

  .sig {
    color: $black;
    font-weight: 600;
    padding-top: $spacing;
    text-transform: uppercase;
  }
}

div.wpforms-container-full {
  .wpforms-form {
    .wpforms-title {
      @extend .heading2;
      text-align: center;
      color: $yellow;
      margin-bottom: $spacing-x2;
    }

    .wpforms-description {
      @extend .heading2;
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: $spacing-x3;
    }

    button[type=submit] {
      @extend .btn;
      border: none;
    
      &:hover {
        border: none;
      }
    }
  }
}