.contact {
  form {
    display: flex;
    flex-direction: column;

    @media ($tablet) {
      flex-direction: row;
      justify-content: space-between;
      display: flex;
    }

    .form-block {
      margin-bottom: $spacing;
      display: flex;
    }

    .form-block-wrapper {
      @media ($tablet) {
        width: 49%;
      }
    }
  
    input[type=text],
    input[type=email],
    textarea {
      border: none;
      padding: $spacing;
      width: 100%;
    }
  }
}