#default-page-title {
  background-color: rgba(0, 0, 0, 0.65);
  background-repeat: no-repeat;
  background-position: center top 40%;
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 40vh;
  left: auto;
  line-height: 1.2;
  padding: 0 0 $spacing-x2;
  position: relative;
  right: auto;
  
  @media ($tablet) {
    height: 35vh;
    padding: 0;
  }
  
  h1 {
    padding: 0 $spacing-x2;
  }
  
  .wrapper {
    padding: 0;
    position: relative;
    width: 100%;

    @media ($tablet) {
      align-items: center;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 0 $spacing-x2;
    }

    @media ($desktop-md) {
      @include wrapper-md;
    }
  }
}

#default-page-main {
  flex-grow: 1;

  .wrapper {
    @media ($desktop-lg) {
      @include wrapper-lg;
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
  
      @media ($tablet) {
        flex-direction: row;
      }
    }
  }

  .content {
    flex-grow: 1;
    margin-bottom: $spacing-x2;
  }
}