#main-menu {
  background-color: $black;
  
  @media ($tablet) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .menu-top {
    display: flex;
    padding: $spacing-x2;
    position: relative;
    
    @media ($tablet) {
      padding: $spacing-x2;
    }

    h1 {
      font-size: 1.6rem;
      flex-basis: 100%;
      text-align: center;
    }

    a {
      color: $white;
      flex-basis: 100%;
      font-size: 1.6rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .menu-main-menu-container {
    flex-direction: column;
    height: 0;
    text-align: center;
    text-transform: uppercase;
    transition: height 0.5s ease-in-out;

    @media ($tablet) {
      height: auto;
      padding: $spacing-x2;
    }
    
    &.open {
      display: flex;
      height: 160px;
    }

    .menu {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;

      @media ($tablet) {
        flex-direction: row;
        padding-bottom: 0;
      }
      
      li {
        line-height: 1.8;

        @media ($tablet) {
          margin: 0 $spacing-x2;
        }

        &:last-child {
          @media ($tablet) {
            margin-right: 0;
          }
        }

        &.current_page_item {
          a {
            color: $yellow;
            padding-bottom: $spacing-half;

            @media ($tablet) {
              border-bottom: 2px solid $yellow;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      a {
        color: $white;
        padding-bottom: $spacing-half;

        &:hover {
          text-decoration: none;
          border-bottom: 2px solid $white;
        }
      }
    }
  }
}
