.row {
  padding: $spacing-x3 0;

  @media ($tablet) {
    padding: $spacing-x5 0;
  }

  .heading1 {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  .block-inner {
    display: flex;
    flex-direction: column;


    @media ($tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    .block {
      align-items: center;
      background-color: $greyLight;
      display: flex;
      height: 250px;
      font-size: 2.4rem;
      font-weight: 600;
      justify-content: center;
      margin-bottom: $spacing-x2;
      text-transform: uppercase;

      @media ($tablet) {
        flex-basis: 32.333%;
        font-size: 2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.about {
    background-color: $greyDark;
    color: $white;
    display: flex;
    flex-direction: column;

    .text-wrapper {
      @media ($tablet) {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
      }
    }
  }

  &.mantra {
    .content-inner {
      @media ($tablet) {
        display: flex;
        flex-direction: row;
      }
    }

    .img-wrapper {
      margin-bottom: $spacing-x3;

      @media ($tablet) {
        flex: 1 0 50%;
        margin-right: $spacing-x2;
      }
    }
  }
}
