.testimonial {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  .description {
    margin-bottom: $spacing-x3;

    @media ($tablet) {
      width: 500px;
    }
  }

  .author {
    color: $grey900;
    font-weight: 600;
    text-transform: uppercase;
  }

  img {
    @include box-shadow;
    border-radius: 50%;
    border: 3px solid $yellow;
    height: 100px;
    margin-bottom: $spacing-x3;
    width: 100px;
  }
}

.testimonials {
  padding: $spacing-x4;

  &:nth-child(even) {
    background-color: $grey200;
  }
}